:root {
    --tiny-margin: 2px;
    --small-margin: 3px;
    --medium-margin: 6px;
    --big-margin: 12px;
    --huge-margin: 24px;
    --grid-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    --left-menu-width: 400px;
    --connector-border-color: #F88;
    --connector-border-weight: 5px;
    --connector-size: 20px;
    --field-connector-color: #F88;
    --field-connector-color-active: #FFF;
    --field-connection-color-active: deepskyblue;
    --field-connection: dimgray;
    --small-interval: .3s;
    --tiny-interval: .2s;
}

.circuit-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 273px;
    border-radius: var(--medium-margin);
    background-color: lightgray;
    filter: saturate(0);
    transition: background-color var(--small-interval) ease-in;
}

.circuit-element:hover {
    cursor: pointer;
    background-color: gray;
}

.circuit-element:hover img, .circuit-element:hover > div {
    filter: brightness(2);
}

.circuit-element > div {
    transition: filter var(--small-interval) ease-in;
}

.circuit-element img {
    width: 85%;
    height: 100%;
    padding: var(--huge-margin);
    transition: filter var(--small-interval) ease-in;
}

.circuit-element-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 273px;
    border-radius: var(--medium-margin);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    filter: saturate(0);
    transition: background-color var(--small-interval) ease-in;
}

.circuit-element-field:hover {
    cursor: pointer;
    background-color: rgba(141, 141, 141, .2);
}

.circuit-element-field img {
    width: 85%;
    height: 100%;
    padding: var(--huge-margin);
}

.circuit-element-field .connector {
    border-color: var(--field-connector-color);
    transition: border-color var(--small-interval) ease-in;
}

.circuit-element-field .connector:hover {
    border-color: var(--field-connector-color-active);
}

.connection {
    border-radius: 1000px;
    background-color: var(--field-connection);
    transition: background-color var(--tiny-interval) ease-in;
}

.connection-active {
    background-color: var(--field-connection-color-active) !important;
}

.connector {
    width: var(--connector-size);
    height: var(--connector-size);
    border-radius: 100%;
    border: var(--connector-border-color) var(--connector-border-weight) solid;
}