:root {
    --tiny-margin: 2px;
    --small-margin: 3px;
    --medium-margin: 6px;
    --big-margin: 12px;
    --huge-margin: 24px;
    --grid-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    --left-menu-width: 400px;
    --connector-border-color: #a9a9a9;
    --connector-border-weight: 5px;
    --connector-size: 20px;
    --field-connector-color: darkgray;
    --field-connector-color-active: dodgerblue;
    --small-interval: .3s;
}

#connection-options {
    display: none;
}

#connection-options.connection-options-active {
    display: unset !important;
}

#left-menu {
    width: var(--left-menu-width);
    height: 100vh;
    position: fixed;
    background: white;
    display: flex;
    flex-flow: row;
    z-index: 1;
    padding: var(--medium-margin);
    box-shadow: var(--grid-box-shadow);
    transform: translateX(calc(var(--left-menu-width) * -.85 + 5 * var(--medium-margin)));
    transition: transform .5s ease-in-out;
}

#item-selector {
    background: gainsboro;
    margin-right: var(--medium-margin);
    border-radius: var(--medium-margin);
    height: 100%;
    width: 80%;
    padding: var(--big-margin);
}

#right-buttons {
    border-radius: var(--medium-margin);
    width: 20%;
    display: flex;
    flex-flow: column;
    padding: var(--medium-margin);
}

#right-buttons a {
    color: dimgray;
    vertical-align: middle;
    width: 100%;
    height: 68px;
    background: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 100%;
}

#right-buttons > *:not(:first-child) {
    margin-top: var(--medium-margin);
}

.left-menu-shown {
    transform: unset !important;
}