* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

:root {
    --grid-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

main {
    background: whitesmoke;
    overflow: hidden;
}

#left-menu {
}

#main-field {
    left: 0px;
    top: 0px;
    background: gainsboro;
    box-shadow: var(--grid-box-shadow);
}

#main-field>* {
    position: absolute;
}

.back-grid {
    border: 1px solid lightgray;
}